<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span data-th-text="${contact}"></span>
    <h1>Contact</h1>
    <div>
        <p data-th-text="'Name: ' + ${contact.name}" ></p>
        <p data-th-text="'Email: ' + ${contact.email}" ></p>
        <p data-th-text="'Phone Number: ' + ${contact.phoneNumber}" ></p>
        <p data-th-text="'DOB: ' + ${contact.dateOfBirth}" ></p>
    </div>
</body>
</html>