<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <span data-th-text="${contact}"></span>
    <h1>Form</h1>
    <form action="#" data-th-action="@{/contact}" data-th-object=${contact} method="post">
        
            <p>Name:<input type="text" name="name" data-th-field="*{name}"></p>
            <!-- <p class="error" data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" data-th-errorclass="error"></p> -->
            <div data-th-if="${#fields.hasErrors('name')}">
                <span data-th-errors="*{name}" data-th-errorclass="error"></span>
            </div>
            
            <!-- <p data-th-if="${#fields.hasErrors}('name')"
                data-th-errors="*{name}"
                ></p> -->

            <p>Email:<input type="text" data-th-field="*{email}"></p>
            <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" data-th-errorclass="error"></p>

            <p>Phone Number:<input type="text" data-th-field="*{phoneNumber}"></p>
            <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" data-th-errorclass="error"></p>

            <p>Date Of Birth:<input type="date" data-th-field="*{dateOfBirth}"></p>
            <p data-th-if="${#fields.hasErrors('dateOfBirth')}" data-th-errors="*{dateOfBirth}" data-th-errorclass="error"></p>
            <p data-th-if="${#fields.hasErrors('age')}" data-th-errors="*{age}" data-th-errorclass="error"></p>

            <button type="submit" class="button">Submit</button>
        
    </form>
</body>
</html>